{% extends "index.html" %}
{% block body %}
    <div class="container">
        <div class="form-container">
            <div class="form-title">Вход или регистрация</div>
            <form method="POST" onsubmit="return onAuth(this)">
                <div class="form__element">
                    <input type="text" class="form__input" placeholder="Ваш логин" name="login">
                </div>
                <div class="form__element">
                    <input type="text" class="form__input" placeholder="Ваш пароль" name="password">
                </div>
                <div class="form__element">
                    <input type="submit" class="form-submit" value="Войти">
                </div>
            </form>
            <a href="/registration" class="to-registr">
                <div>Нет учётной записи? Создайте!</div>
            </a>
            <div id="error">{{error}}</div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/auth.js')}}"></script>
{% endblock %}