{% extends "index.html" %}
{% block body %}
    <style>
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }
    </style>
    <div class="container">
        <div class="form-container">
            <div class="form-title">Вход или регистрация</div>
            <form method="POST" onsubmit="return onAuth(this)">
                <div class="form__element">
                    <input type="email" class="form__input" placeholder="Ваш логин" name="login">
                </div>
                <div class="form__element">
                    <input type="password" class="form__input" placeholder="Ваш пароль" name="password">
                </div>
                <div class="form__element">
                    <input type="submit" class="button1" value="Войти">
                </div>
            </form>
            <a href="/registration" class="to-registr">
                <div>Нет учётной записи? Создайте!</div>
            </a>
            <div id="error">{{error}}</div>
        </div>
    </div>
{% endblock %}