{% extends "index.html" %}
{% block body %}
<div class="container">
    <div class="main-title animated">Удалить оценку?</div>
    <div class="additional-info animated">{{mark.subject}}</div>
    <div class="buttons-container animated">
        <form method="POST">
            <div class="form__element">
                <input type="submit" class="button2" value="Удалить">
            </div>
        </form>
        <div class="form__element">
            <a href="/pupils/marks/{{mark.user_id}}">
                <button class="button1">Отмена</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}