{% extends "index.html" %}
{% block body %}
    <div class="container">
        <div class="main-title animated">Удалить фото?</div>
        <div class="buttons-container animated">
            <form method="POST">
                <div class="element">
                    <input type="submit" class="button2" value="Удалить">
                </div>
            </form>
            <div class="element">
                <a href="/profile">
                    <button class="button1">Отмена</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}