{% extends "index.html" %}
{% block body %}
<div class="container">
    <div class="main-title animated">Удалить урок?</div>
    <div class="additional-info animated">{{lesson.subject}}, {{day}}</div>
    <div class="buttons-container animated">
        <form method="POST">
            <div class="form__element">
                <input type="submit" class="button2" value="Удалить">
            </div>
        </form>
        <div class="form__element">
            <a href="/schedule/{{lesson.week_id}}/{{lesson.weekday}}">
                <button class="button1">Отмена</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block header %}

{% endblock %}