{% extends "index.html" %}
{% block header %}
    <a href="/" class="header__element">
        <div>На главную</div>
    </a>
    <a href="/schedule" class="header__element">
        <div>Расписание</div>
    </a>
    {% if user.user_type=="teacher" %}
        <a href="/add_marks" class="header__element">
            <div>Вставить оценки</div>
        </a>
    {% else %}
        <a href="/my_marks" class="header__element">
            <div>Мои оценки</div>
        </a>
    {% endif %}
{% endblock %}
{% block body %}
    <style>
        body {
            overflow-y: hidden;
        }

        .form__element {
            display: inline-grid;
        }
    </style>
    <div class="container" style="width: 100%;">
        <div class="main-title animated">Изменить данные профиля</div>
        <form method="POST" onsubmit="return onProfileChange(this)" enctype="multipart/form-data">
            <div class="profile-container animated">
                <div id="avatar-div">
                    <div id="avatar-container">
                        <img src="{{path}}" class="avatar" alt="Не удалось загрузить фото профиля">
                    </div>
                    <div class="form-container img-form-container" style="opacity: 1;">
                        <label class="button1 file-input">
                            <input type="file" name="pic">
                            Загрузить фото
                        </label>
                    </div>
                </div>
                <div id="data-div">
                    <div style="display: inline-grid">
                        <div class="form__element">
                            <label>Фамилия</label>
                            <input type="text" class="form__input" value="{{user.last_name}}" name="last_name" placeholder="Фамилия">
                        </div>
                        <div class="form__element">
                            <label>Имя</label>
                            <input type="text" class="form__input" value="{{user.first_name}}" name="first_name" placeholder="Имя">
                        </div>
                        <div class="form__element">
                            <label>Отчество</label>
                            <input type="text" class="form__input" value="{{user.middle_name}}" name="middle_name" placeholder="Отчество">
                        </div>
                        <div class="form__element">
                            <label>Логин (почта)</label>
                            <input type="text" class="form__input" value="{{user.mail}}" name="mail" placeholder="mail@example.com">
                        </div>
                        <div class="form__element">
                            <input type="submit" class="button1" value="Сохранить изменения">
                        </div>
                        <div id="error">{{error}}</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}