<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>
<body onload="onLoad()">
    <noscript>Включите JavaScript для работы приложения</noscript>
    <header class="header">
        <div class="header-elements-container" id="left">
            {% block header %}
            {% endblock %}
        </div>
        {% if session["_user_id"] %}
            <div class="header-elements-container" id="right">
                <a href="/auth" class="header__element">
                    <div>Выйти</div>
                </a>
            </div>
        {% endif %}
    </header>
    {% block body %}
    {% endblock %}
    <!-- <footer class="footer animated">
        <a href="https://github.com/BeyondOrigins">
            <img style="height: 60px; font-family: 'Roboto'; font-size: 17px;" src="{{url_for('static', filename='styles/img/gh-logo.png')}}" alt="GitHub">
        </a>
    </footer> -->
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
<div id="loading">
    <div id="loader"></div>
</div>
</html>