{% extends "index.html" %}
{% block body %}
    <style>
        body {
            overflow-y: hidden;
        }
    </style>
    <div class="container">
        <div class="lesson-container animated">
            <div>
                <a href="/schedule/{{lesson.week_id}}/{{lesson.weekday}}">
                    <div id="prev-container">
                        <img src="{{url_for('static', filename='styles/img/left-arrow.png')}}"
                        alt="Назад" id="prev">
                    </div>
                </a>
            </div>
            <div class="lesson-info-container">
                <div>{{lesson.subject}}</div>
                <div class="additional-info" id="teacher_name">{{teacher_name}}</div>
                <div id="homework-container">
                    {% if lesson.homework == "" %}
                        <img src="{{url_for('static', filename='styles/img/no_homework.png')}}"
                        alt="Домашнего задания нет" id="no-homework">
                        <span>Домашнего задания нет</span>
                    {% else %}
                        <div class="homework-container">
                            {{lesson.homework}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block header %}
    <a href="/" class="header__element">
        <div>На главную</div>
    </a>
    {% if session["user_type"] == "pupil" %}
        <a href="/marks" class="header__element">
            <div>Мои оценки</div>
        </a>
    {% else %}
        <a href="/my_class" class="header__element">
            <div>Мой класс</div>
        </a>
    {% endif %}
    <a href="/profile" class="header__element">
        <div>{{ session["name"] }}</div>
    </a>
{% endblock %}