{% extends "index.html" %}
{% block body %}
    <div class="container" style="margin: 10% auto;">
        <div class="main-title animated">Добро пожаловать{{welcoming_text}}!</div>
        <div class="blocks-container">
            <div id="block"></div>
            <div id="block"></div>
            <div id="block"></div>
        </div>
    </div>
{% endblock %}
{% block header %}
    <a href="/auth" class="header__element">
        <div>К странице входа</div>
    </a>
    {% if welcoming_text != "" %}
        <a href="/self_profile" class="header__element">
            <div>Мой профиль</div>
        </a>
    {% endif %}
{% endblock %}