{% extends "index.html" %}
{% block body %}
    <div class="container" style="margin: 1% auto;">
        <div class="main-title animated" style="margin-top: 15%;">Добро пожаловать{{welcoming_text}}!</div>
        <div class="main-title animated" style="color: var(--color-dark-gray); margin-top: 5%;">На нашем сайте вы можете:</div>
        <div class="blocks-container">
            <div id="block1" class="block animated">Смотреть свои оценки</div>
            <div id="block2" class="block animated">Смотреть расписание на неделю</div>
            <div id="block3" class="block animated">Смотреть домашние задания</div>
        </div>
    </div>
{% endblock %}
{% block header %}
    <a href="/auth" class="header__element">
        <div>К странице входа</div>
    </a>
    {% if welcoming_text != "" %}
        <a href="/profile" class="header__element">
            <div>Мой профиль</div>
        </a>
    {% endif %}
{% endblock %}