{% extends "index.html" %}
{% block body %}
    <div class="container">
        <div class="main-title animated">{{title}}</div>
        {% if marks|length == 0 %}
            <div id="empty" class="animated">Оценок пока что нет :(</div>
        {% else %}
            {% for subject, marks_list in marks.items() %}
                <div class="marks-block animated">
                    <div class="marks-container__title">{{subject}}</div>
                    <div class="marks-container">
                        {% for mark in marks_list %}
                            <div class="mark-container">
                                <div class="mark">{{mark}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block header %}
    <a href="/" class="header__element">
        <div>На главную</div>
    </a>
    {% if session["user_type"] == "pupil" %}
        <a href="/schedule" class="header__element">
            <div>Расписание</div>
        </a>
    {% endif %}
    <a href="/profile" class="header__element">
        <div>{{ session["name"] }}</div>
    </a>
{% endblock %}