{% extends "index.html" %}
{% block header %}
    <a href="/" class="header__element">
        <div>На главную</div>
    </a>
    {% if user.user_type=="teacher" %}
        <a href="/my_class" class="header__element">
            <div>Мой класс</div>
        </a>
        <a href="/pupils" class="header__element">
            <div>Мои ученики</div>
        </a>
    {% else %}
        <a href="/schedule" class="header__element">
            <div>Расписание</div>
        </a>
        <a href="/marks" class="header__element">
            <div>Мои оценки</div>
        </a>
    {% endif %}
{% endblock %}
{% block body %}
    <style>
        .element {
            display: inline-grid;
        }
    </style>
    <div class="container">
        <div class="main-title animated">Мой профиль</div>
        <div class="profile-container animated">
            <div id="avatar-div">
                <div id="avatar-container">
                    <img src="{{path}}" class="avatar" alt="Не удалось загрузить фото профиля">
                </div>
                {% if user.img_id != 0 %}
                    <div class="element">
                        <a href="/delete_img/{{user.img_id}}">
                            <button class="button2">Удалить фото</button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div id="data-div">
                <div style="display: inline-grid">
                    <div class="element">
                        <label>Фамилия</label>
                        <label class="label">{{user.last_name}}</label>
                    </div>
                    <div class="element">
                        <label>Имя</label>
                        <label class="label">{{user.first_name}}</label>
                    </div>
                    <div class="element">
                        <label>Отчество</label>
                        <label class="label">{{user.middle_name}}</label>
                    </div>
                    <div class="element">
                        <label>Почта</label>
                        <label class="label">{{user.mail}}</label>
                    </div>
                    <div class="element">
                        <label>Класс</label>
                        <label class="label">{{user.grade}}</label>
                    </div>
                    {% if session["user_type"] == "teacher" %}
                        <div class="element">
                            <label>Предмет преподавания</label>
                            <label class="label">{{user.subject}}</label>
                        </div>
                    {% endif %}
                    <button id="edit-button" class="button1">Изменить данные</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}