{% extends "index.html" %}
{% block body %}
    <style>
        body {
            overflow-y: hidden;
        }
    </style>
    <div class="container">
        <div class="form-container animated">
            <div class="form-title">Регистрация</div>
            <form method="POST" onsubmit="return onRegistration(this)">
                <div class="form__element">
                    <input type="email" class="form__input" placeholder="Ваша почта" name="mail">
                </div>
                <div class="form__element">
                    <input type="text" class="form__input" placeholder="Фамилия" name="last_name">
                </div>
                <div class="form__element">
                    <input type="text" class="form__input" placeholder="Имя" name="first_name">
                </div>
                <div class="form__element">
                    <input type="text" class="form__input" placeholder="Отчество" name="middle_name">
                </div>
                <div class="form__element">
                    <input type="password" class="form__input" oninput="checkPassword()" placeholder="Ваш пароль" name="password">
                </div>
                <div class="form__element">
                    <input type="password" class="form__input" oninput="checkPassword()" placeholder="Введите пароль повторно" name="password_repeat">
                </div>
                <div class="form__element">
                    <input type="checkbox" class="form__checkbox" value="teacher" id="checkbox" name="user_type">
                    <label for="checkbox">Я учитель</label>
                </div>
                <div class="form__element">
                    <input type="submit" class="button1" value="Зарегестрироваться">
                </div>
            </form>
            <div id="error">{{error}}</div>
        </div>
    </div>
{% endblock %}
{% block header %}
    <a href="/" class="header__element">
        <div>На главную</div>
    </a>
    <a href="/auth" class="header__element">
        <div>К странице входа</div>
    </a>
{% endblock %}