{% extends "index.html" %}
{% block body %}
    <div class="container">
        <div class="form-container">
            <div class="form-title">Регистрация</div>
            <form method="POST" onsubmit="return onAuth(this)">
                <div class="form__element">
                    <input type="text" class="form__input" placeholder="Ваша почта" name="mail">
                </div>
                <div class="form__element">
                    <input type="text" class="form__input" placeholder="Ваш логин" name="login">
                </div>
                <div class="form__element">
                    <input type="password" class="form__input" oninput="checkPassword()" placeholder="Ваш пароль" name="pswrd">
                </div>
                <div class="form__element">
                    <input type="password" class="form__input" oninput="checkPassword()" placeholder="Введите пароль повторно" name="pswrd_repeat">
                </div>
                <div class="form__element">
                    <input type="submit" class="form-submit" value="Зарегестрироваться">
                </div>
            </form>
            <div id="error">{{error}}</div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/register.js')}}"></script>
{% endblock %}
{% block header %}
    <a href="/auth" class="header__element">
        <div>К странице входа</div>
    </a>
{% endblock %}