{% extends "index.html" %}
{% block body %}
	<div class="container">
        <div class="main-title animated">Расписание</div>
        <div class="days-container animated">
            {% if week == 0 and day == 0 %}
                <div class="switch-day unavailable"> < </div>
            {% else %}
                <div id="to-prev-day" class="switch-day"> < </div>
            {% endif %}
            <div class="day-container">Пн</div>
            <div class="day-container">Вт</div>
            <div class="day-container">Ср</div>
            <div class="day-container">Чт</div>
            <div class="day-container">Пт</div>
            <div class="day-container">Сб</div>
            <div class="day-container">Вс</div>
            <div class="switch-day" id="to-next-day"> > </div>
        </div>
        <div class="day-title animated">{{weekday}}</div>
        {% if session["user_type"] == "teacher" %}
            <div style="text-align: left; width: 57%; margin: auto;">
                <a href="/add_lesson/{{week}}/{{day}}">
                    <button class="button1 animated">Добавить урок</button>
                </a>
            </div>
        {% endif %}
        <div class="subjects-container animated">
            {% if lessons|length != 0 %}
                {% for lesson in lessons %}
                    <a href="/lesson/{{lesson['id']}}">
                        <div class="subject-container animated">
                            <div class="subject-info">
                                <div>{{lesson["subject"]}}</div>
                                {% if lesson["homework"] != "" %}
                                    <div class="additional-info">{{lesson["homework"]}}</div>
                                {% else %}
                                    <div class="additional-info">Домашнего задания нет</div>
                                {% endif %}
                                {% if session["user_type"] == "teacher" %}
                                    <div style="margin-top: 20px;">
                                        <a href="/delete_lesson/{{lesson['id']}}">
                                            <button class="button2">Удалить урок</button>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div id="empty" class="animated">Сегодня уроков нет!</div>
            {% endif %}
        </div>
    </div>
    <script>
        var week = Number("{{week}}");
        console.log(week);
        var day = Number("{{day}}");
        document.getElementsByClassName("day-container")[day].classList.add("day-container-selected");
        try {
            document.getElementById("to-prev-day").onclick = function() {
                if (day == 0) {
                    location.href = "/schedule/{{week - 1}}/6";
                }
                else {
                    location.href = "/schedule/{{week}}/{{day - 1}}";
                }
            }
        } catch {}
        
        try {
            document.getElementById("to-next-day").onclick = function() {
                if (day == 6) {
                    location.href = "/schedule/{{week + 1}}/0";
                }
                else {
                    location.href = "/schedule/{{week}}/{{day + 1}}";
                }
            }
        } catch {}
        
    </script>
{% endblock %}
{% block header %}
    <a href="/" class="header__element">
        <div>На главную</div>
    </a>
    {% if session["user_type"] == "pupil" %}
        <a href="/marks" class="header__element">
            <div>Мои оценки</div>
        </a>
    {% else %}
        <a href="/my_class" class="header__element">
            <div>Мой класс</div>
        </a>
    {% endif %}
    <a href="/profile" class="header__element">
        <div>{{ session["name"] }}</div>
    </a>
{% endblock %}