{% extends "index.html" %}
{% block body %}
	<div class="container">
        <div class="main-title animated">Расписание</div>
        <div class="days-container animated">
            {% if week == 0 and day == 0 %}
                <div class="switch-day unavailable"> < </div>
            {% else %}
                <div id="to-prev-day" class="switch-day"> < </div>
            {% endif %}
            <div class="day-container">Пн</div>
            <div class="day-container">Вт</div>
            <div class="day-container">Ср</div>
            <div class="day-container">Чт</div>
            <div class="day-container">Пт</div>
            <div class="day-container">Сб</div>
            <div class="day-container">Вс</div>
            <div class="switch-day" id="to-next-day"> > </div>
        </div>
        <div class="day-title animated">{{weekday}}</div>
        <div class="subjects-container animated">
            {% if lessons|length != 0 %}
                {% for lesson in lessons %}
                    <div class="subject-container animated">
                        <div class="subject-info">
                            <div>{{lesson["subject"]}}</div>
                            {% if lesson["homework"] != "" %}
                                <div class="lesson-homework">{{lesson["homework"]}}</div>
                            {% else %}
                                <div class="lesson-homework">Домашнего задания нет</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div id="empty" class="animated">Сегодня уроков нет!</div>
            {% endif %}
        </div>
    </div>
    <script>
        var week = Number("{{week}}");
        console.log(week);
        var day = Number("{{day}}");
        document.getElementsByClassName("day-container")[day].classList.add("day-container-selected");
        try {
            document.getElementById("to-prev-day").onclick = function() {
                if (day == 0) {
                    location.href = "/schedule/{{week - 1}}/6";
                }
                else {
                    location.href = "/schedule/{{week}}/{{day - 1}}";
                }
            }
        } catch {}
        
        try {
            document.getElementById("to-next-day").onclick = function() {
                if (day == 6) {
                    location.href = "/schedule/{{week + 1}}/0";
                }
                else {
                    location.href = "/schedule/{{week}}/{{day + 1}}";
                }
            }
        } catch {}
        
    </script>
{% endblock %}
{% block header %}
    <a href="/" class="header__element">
        <div>На главную</div>
    </a>
    <a href="/marks" class="header__element">
        <div>Мои оценки</div>
    </a>
    <a href="/profile" class="header__element">
        <div>{{ session["name"] }}</div>
    </a>
{% endblock %}