{% extends "index.html" %}
{% block header %}
    <a href="/schedule" class="header__element">
        <div>Расписание</div>
    </a>
    <a href="/my_marks" class="header__element">
        <div>Мои оценки</div>
    </a>
{% endblock %}
{% block body %}
    <div class="profile-container">
        <div id="avatar-container">
            <img src="{{path}}" class="avatar" alt="Не удалось загрузить фото профиля">
            <div class="img-form-container">
                <form enctype="multipart/form-data" method="POST">
                    <input type="file" class="file-input" value="Загрузить фото">
                    <input type="submit" class="button1" value="Сменить фото">
                </form>
            </div>
        </div>
        <div id="personal-data">

        </div>
    </div>
{% endblock %}