@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Thin.ttf");
    font-style: thin;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-ExtraLight.ttf");
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-ExtraLight.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("fonts/RobotoCondensed-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("fonts/SourceSansPro-Regular.ttf");
    font-style: normal;
}

@keyframes appearence {
    0% {
        margin-top: 10%;
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(100);
        opacity: 1;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

:root {
    --color-white: #fffefe;
    --color-purple: #9f5aee;
    --color-bluerple: #8643d2;
    --color-turquoise: #2dc0ac;
    --color-dark-turquoise: #24ca96;
    --color-shadow: rgba(24, 24, 24, 0.219);
    --color-gray: #999898;
    --color-dark-gray: #5a5959;
    --color-dark-green: #0a770a;
    --color-green: #389938;
    --color-blue: #1490f5;
    --color-transparent-blue: #1490f562;
    --color-header-background: var(--color-purple);
    --color-button1-background: var(--color-bluerple);
    --color-file-input-background: var(--color-bluerple);
    --color-light-purple: #ac7fdf;
    --color-selected: #2686f5;
    --color-input-focus: rgba(85, 215, 247, 0.205);
    --color-header-element: #f3f3f3;
    --color-mark-container-border: #75c1ff;
    --color-container-border: #a8a3a3;
    --color-button2-background: #e24040;
    --border-radius-basic-container: 15px;
    --color-container-background: #ffffff;
    --color-body-background: #f3f3f3;
}

/* TAGS */

html, body, form {
    margin: 0;
}

body {
    background-color: var(--color-body-background);
    height: 100%;
    overflow-x: hidden;
}

label {
    font-family: "Roboto";
    font-size: 16px;
    color: var(--color-gray);
}

img {
    font-family: "Roboto";
}

input[type="file"] {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* CLASSES */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--color-purple);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.container {
    width: 70%;
    margin: 100px auto;
    text-align: center;
}

.basic-container {
    border-radius: var(--border-radius-basic-container);
    background-color: var(--color-container-background);
    width: 50%;
    min-width: 650px;
    overflow: auto;
    padding: 30px;
    display: inline-grid;
    text-align: left;
    font-family: "Roboto";
    margin-top: 30px;
}

.form-container {
    border-radius: var(--border-radius-basic-container);
    width: 300px;
    background-color: var(--color-container-background);
    text-align: center;
    margin: 210px auto;
    padding: 30px;
    padding-top: 60px;
    border: 0px solid #c7c7c7;
    box-shadow: 4px 4px 15px var(--color-shadow),
    -4px 4px 15px var(--color-shadow);
}

.marks-container {
    display: flex;
    flex-wrap: wrap;
}

.mark-container {
    border: 1px solid var(--color-mark-container-border);
    background-color: var(--color-container-background);
    height: 61px;
    width: 61px;
    border-radius: 10px;
    font-family: "Roboto";
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    margin-right: 5px;
    transition: 0.5s;
}

.mark-container:hover {
    opacity: 0.4;
    cursor: pointer;
}

.blocks-container {
    display: flex;
    margin: 3% auto;
}

.days-container {
    width: 70%;
    min-width: 500px;
    border-radius: 20px;
    background-color: var(--color-container-background);
    padding: 10px;
    display: flex;
    overflow: auto;
    margin: 0 auto;
}

.day-container {
    margin: 8px;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    width: 14%;
    padding: 10px;
}

.day-container-selected {
    border-radius: 20px;
    box-shadow: 2px 2px 7px var(--color-shadow),
    -2px 2px 7px var(--color-shadow);
    color: var(--color-selected);
}

.subjects-container {
    width: 70%;
    text-align: center;
    margin: 30px auto;
    min-width: 500px;
}

.subject-container {
    border-radius: 20px;
    background-color: var(--color-container-background);
    text-align: left;
    display: flex;
    margin: 40px auto;
    min-height: 100px;
    overflow: hidden;
    min-width: 500px;
}

.subject-container::before {
    width: 8px;
    height: 56px;
    position: absolute;
    content: "";
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgb(232, 232, 239);
    margin-right: 20px;
    margin-top: 20px;
}

.selection-container-list {
    width: 100%;
    padding: 3px;
    margin: 0 auto;
    text-align: center;
}

.selection-container {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
}

.pupils-container {
    width: 70%;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--color-container-background);
    border-radius: var(--border-radius-basic-container);
    margin: 50px auto;
    overflow: auto;
}

.pupil-container {
    margin: 10px;
    overflow: auto;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--color-container-background);
    border: 1px solid var(--color-container-border);
    display: inline-grid;
}

.profile-container {
    display: flex;
    width: 70%;
    min-width: 600px;
    margin: 20px auto;
    border-radius: var(--border-radius-basic-container);
    background-color: var(--color-container-background);
    border: 0px solid #c7c7c7;
    padding: 40px;
    overflow: auto;
}


.header-elements-container {
    display: flex;
}

.img-form-container {
    background-color: var(--color-container-background);
    border: 0px;
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: none;
}

.lesson-container {
    background-color: var(--color-container-background);
    border-radius: var(--border-radius-basic-container);
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    width: 70%;
    overflow: auto;
    margin: 15% auto;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    font-family: "Roboto";
    font-size: 25px;
}

.lesson-info-container {
    display: inline-grid;
    overflow: auto;
    padding: 25px;
    width: 100%;
}

.homework-container {
    text-align: left;
    font-size: 22px;
    overflow-wrap: break-word;
    padding-left: 0px;
}

.buttons-container  {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.mark-properties-container {
    width: 40%;
    border-radius: var(--border-radius-basic-container);
    background-color: var(--color-container-background);
    margin: 70px auto;
    margin-bottom: 20px;
    padding: 20px;
    min-width: 500px;
    text-align: left;
}

.mark-info-container {
    margin-top: 40px;
}

.weekday-info-container {
    text-align: left;
    min-width: 500px;
}

.marks-block {
    width: 50%;
    border-radius: var(--border-radius-basic-container);
    background-color: var(--color-container-background);
    margin: 70px auto;
    margin-bottom: 20px;
    padding: 20px;
    min-width: 600px;
}

.mark-info {
    margin: 20px;
    font-size: 20px;
    overflow: hidden;
}

.homework {
    font-size: 16px;
    color: #c7c7c7;
    margin-top: 10px;
    font-family: "Roboto";
}

.subject-info {
    margin: 30px;
    margin-left: 40px;
    font-family: "Roboto";
    font-size: 20px;
}

.mark {
    margin: 30% auto;
}

.main-title {
    font-family: "Raleway";
    font-size: 50px;
    text-align: center;
    min-width: 500px;
    margin: 30px;
}

.marks-container__title {
    font-size: 21px;
    font-family: "Roboto";
    text-align: left;
    margin-bottom: 20px;
}

.form-title {
    font-size: 27px;
    font-family: "Raleway", sans-serif;
}

.pupil-name {
    font-family: "Roboto";
    font-size: 18px;
    text-align: left;
    margin: 6px;
}

.pupil-info {
    font-family: "Roboto";
    font-size: 16px;
    color: var(--color-gray);
    text-align: left;
    margin: 6px;
}

.day-title {
    font-family: "Roboto";
    color: #5a5959;
    font-size: 24px;
    text-align: left;
    margin: 30px auto;
    width: 68%;
}

.homework-area {
    font-family: "Roboto";
    outline: none;
    border-radius: 8px;
    resize: none;
    margin-top: 10px;
    font-size: 15px;
    padding: 9px;
    border: 1px solid var(--color-gray);
}

.element {
    margin: 15px;
}

.button1 {
    font-size: 16px;
    background: var(--color-button1-background);
    border-radius: 5px;
    color: var(--color-container-background);
    transition: 0.5s;
    animation-delay: 0.8s;
    text-align: center;
    min-width: 206px;
    min-height: 40px;
    border: 0px;
    font-family: "Roboto";
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
}

.button1:hover {
    background-color: var(--color-container-background);
    border: 1px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
    /* box-shadow: 7px 5px 20px var(--color-shadow),
    0px 5px 20px var(--color-shadow),
    -7px 5px 20px var(--color-shadow);
    transform: translateY(-3px); */
}

.button2 {
    font-size: 16px;
    background: var(--color-button2-background);
    border-radius: 5px;
    color: var(--color-container-background);
    transition: 0.5s;
    animation-delay: 0.8s;
    text-align: center;
    min-width: 206px;
    min-height: 40px;
    border: 0px;
    font-family: "Roboto";
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
}

.button2:hover {
    background-color: var(--color-container-background);
    border: 1px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
}

.form__input {
    width: 200px;
    border: 0px;
    border-bottom: 2px solid var(--color-gray);
    height: 20px;
    font-family: "Roboto";
    font-size: 15px;
    padding: 10px;
    background-color: var(--color-container-background);
    transition: 0.5s;
}

.form__input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-blue);
}

.to-registr {
    font-family: "Roboto";
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: var(--color-gray);
}

.to-registr:hover, .header__element:hover{
    color: var(--color-selected);
}

.header {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: var(--color-header-background);
    background: var(--color-header-background);
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 98;
}

.header__element {
    color: var(--color-header-element);
    font-family: "Raleway";
    text-align: center;
    font-size: 17px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.form__checkbox {
    border-radius: 10px;
    transition: .2s;
}

.avatar {
    outline: 2px solid var(--color-gray);
    width: 300px;
}

.file-input {
    background-color: var(--color-file-input-background);
    border-radius: 4px;
    color: var(--color-container-background);
    transition: 0.5s;
    width: 300px;
    padding: 10px 20px;
}

.file-input:hover {
    background-color: var(--color-container-background);
    border: 1px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
}

.animated {
    animation: 0.6s appearence;
    transition-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid var(--color-gray);
    padding: 6px;
}

.label {
    color: var(--color-dark-gray);
    font-size: 18px;
}

.block {
    font-family: "Roboto";
    font-size: 33px;
    color: var(--color-dark-gray);
    overflow-wrap: break-word;
    animation-name: appearence;
    text-align: left;
}

.additional-info {
    font-size: 20px;
    color: #c7c7c7;
    margin-top: 10px;
    font-family: "Roboto";
}

.select {
    padding: 5px;
    border-color: var(--color-gray);
    border-radius: 5px;
    outline: none;
    margin: auto;
    max-width: 200px;
}

.switch-day {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 22px;
    margin: auto 2%;
    cursor: pointer;
}

.switch-day-unavailbale {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 22px;
    margin: auto 2%;
    cursor: pointer;
    opacity: 0.3;
    cursor: not-allowed;
}

.no-homework {
    margin: auto;
}

.is_replaced {
    color: #e68434;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 10px;
}

/* IDs */
#error {
    color: rgb(241, 76, 76);
    font-size: 14px;
    font-family: "Roboto";
    height: 15px;
    margin-bottom: 50px;
}

#avatar-container {
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

#avatar-div {
    text-align: center;
}

#data-div {
    text-align: left;
    margin-left: 100px;
    display: inline-grid;
}

#empty {
    font-size: 50px;
    color: var(--color-gray);
    font-family: "Raleway";
    text-align: left;
}

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #ffffff;
    z-index: 1000;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--color-bluerple);
    width: 120px;
    height: 120px;
    margin: 25% auto;
    animation: spin 2s linear infinite;
}

#left {
    width: 70%;
}

#right {
    justify-content: flex-end;
    width: 28%;
}

#block-title {
    animation-delay: 0.9s;
}

#block1 {
    animation-delay: 1s;
}

#block2 {
    animation-delay: 1.2s;
}

#block3 {
    animation-delay: 1.4s;
}

#bottom-block {
    animation-delay: 2s;
    font-size: 33px;
    color: var(--color-dark-gray);
    margin-top: 7%;
}

#reg-form {
    margin-top: 150px;
}

#grade-number, #grade-letter {
    margin-left: 10px;
}

#subject-select {
    margin-top: 10px;
}

#prev {
    height: 30px;
    width: 30px;
    margin: auto;
}

#prev-container {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 10px;
    transition: .5s;
    background-color: var(--color-body-background);
}

#prev-container:hover {
    opacity: .3;
}

#teacher_name {
    font-size: 18px;
}

#homework-container {
    margin: 50px auto;
    display: inline-grid;
    width: 100%;
}

.form-container#reg-form {
    margin-top: 5%;
}
