@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Thin.ttf");
    font-style: thin;
}

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-ExtraLight.ttf");
    font-style: normal;
}

@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-ExtraLight.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("fonts/RobotoCondensed-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("fonts/SourceSansPro-Regular.ttf");
    font-style: normal;
}

@keyframes appearence {
    0% {
        margin-top: 10%;
        transform: translateY(0);
        opacity: 0;
    }
    
    50% {
        transform: translateY(20);
        opacity: 0.8;
    }   

    100% {
        transform: translateY(100);
        opacity: 1;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

:root {
    --color-white: #fffefe;
    --color-purple: #893be2;
    --color-bluerple: #7527ce;
    --color-shadow: rgba(24, 24, 24, 0.219);
    --color-gray: #999898;
    --color-dark-gray: #5a5959;
    --color-dark-green: #0a770a;
    --color-green: #389938;
    --color-blue: #1490f5;
    --color-body-background: #f3f3f3;
    --color-header-background: var(--color-purple);
    --color-button1-background: var(--color-bluerple);
    --color-file-input-background: var(--color-bluerple);
    --color-light-purple: #ac7fdf;
    --color-container-background: #ffffff;
    --color-selected: #2686f5;
    --color-input-focus: rgba(85, 215, 247, 0.205);
    --color-header-element: #f3f3f3;
    --color-mark-container: #75c1ff;
}

/* TAGS */

html, body {
    margin: 0;
}

body {
    background-color: var(--color-body-background);
    height: 100%;
    overflow-x: hidden;
}

label {
    font-family: "Roboto";
    font-size: 16px;
    color: var(--color-gray);
}

img {
    font-family: "Roboto";
}

input[type="file"] {
    display: none;
}

/* CLASSES */

.container {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.container-default-settings {
    margin: 30px;
    padding: 10px;
}

.form-container {
    border-radius: 10px;
    width: 300px;
    background-color: var(--color-container-background);
    text-align: center;
    margin: 15% auto;
    padding: 30px;
    padding-top: 60px;
    border: 0px solid #c7c7c7;
    box-shadow: 4px 4px 15px var(--color-shadow),
    -4px 4px 15px var(--color-shadow);
}

.marks-block {
    width: 42.7%;
    border-radius: 15px;
    background-color: var(--color-container-background);
    margin: 2% auto;
    margin-bottom: 20px;
    padding: 20px;
}

.marks-container {
    display: flex;
    flex-wrap: wrap;
}

.mark-container {
    border: 1px solid var(--color-mark-container);
    background-color: var(--color-white);
    height: 61px;
    width: 61px;
    border-radius: 10px;
    font-family: "Roboto";
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    margin-right: 5px;
    transition: 0.5s;
}

.mark-container:hover {
    box-shadow: 7px 5px 20px var(--color-shadow),
    0px 5px 20px var(--color-shadow),
    -7px 5px 20px var(--color-shadow);
    transform: translateZ(-5px);
    opacity: 0.7;
    cursor: pointer;
}

.blocks-container {
    display: flex;
    margin: 3% auto;
}

.days-container {
    width: 60%;
    border-radius: 20px;
    background-color: var(--color-container-background);
    padding: 10px;
    display: flex;
    overflow: auto;
    margin: 0 auto;
}

.day-container {
    margin: 8px;
    text-align: center;
    font-family: "Roboto";
    /* font-weight: bold; */
    font-size: 20px;
    width: 14%;
    cursor: pointer;
    padding: 10px;
}

.day-container-selected {
    border-radius: 20px;
    box-shadow: 2px 2px 7px var(--color-shadow),
    -2px 2px 7px var(--color-shadow);
    color: var(--color-selected);
}

.subjects-container {
    width: 60%;
    text-align: center;
    margin: 2% auto;
}

.subject-container {
    border-radius: 20px;
    background-color: var(--color-container-background);
    text-align: left;
    display: flex;
    margin: 2% auto;
    min-height: 100px;
    overflow: auto;
}

.subject-info {
    margin: 30px;
    margin-left: 40px;
    font-family: "Roboto";
    font-size: 20px;
}

.subject-container::before {
    width: 8px;
    height: 56px;
    position: absolute;
    content: "";
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: rgb(232, 232, 239);
    margin-right: 20px;
    margin-top: 20px;
}

.mark {
    margin: 30% auto;
}

.main-title {
    font-family: "Raleway";
    font-size: 50px;
    text-align: center;
    margin: 40px;
}

.marks-container__title {
    font-size: 21px;
    font-family: "Roboto";
    text-align: left;
    margin-bottom: 20px;
}

.form-title {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.day-title {
    font-family: "Roboto";
    color: #5a5959;
    font-size: 24px;
    text-align: left;
    margin: 30px auto;
    width: 57%;
}

.form__element {
    margin: 15px;
}

.button1 {
    font-size: 16px;
    background: var(--color-button1-background);
    border-radius: 4px;
    color: var(--color-white);
    transition: 0.5s;
    animation-delay: 0.8s;
    text-align: center;
    width: 206px;
    height: 40px;
    border: 0px;
    font-family: "Roboto";
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
}

.button1:hover {
    background-color: var(--color-container-background);
    border: 1px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
    /* box-shadow: 7px 5px 20px var(--color-shadow),
    0px 5px 20px var(--color-shadow),
    -7px 5px 20px var(--color-shadow);
    transform: translateY(-3px); */
}

.form__input {
    width: 200px;
    border-radius: 0px;
    border: 0px solid var(--color-gray);
    border-bottom: 2px solid var(--color-gray);
    height: 20px;
    font-family: "Roboto";
    font-size: 15px;
    padding: 10px;
    background-color: var(--color-container-background);
    transition: 0.5s;
}

.form__input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-blue);
}

.to-registr {
    font-family: "Roboto";
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: var(--color-gray);
}

.to-registr:hover, .header__element:hover{
    color: var(--color-selected);
}

.header {
    width: 1920px;
    display: flex;
    padding: 10px;
    background-color: var(--color-header-background);
    background: var(--color-header-background);
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 98;
}

.header-elements-container {
    display: flex;
}

.header__element {
    color: var(--color-header-element);
    font-family: "Raleway";
    text-align: center;
    font-size: 17px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.form__checkbox {
    transition: 0.5s;
}

.profile-container {
    display: flex;
    width: 50%;
    margin: 2% auto;
    border-radius: 10px;
    background-color: var(--color-container-background);
    border: 0px solid #c7c7c7;
    padding: 40px;
    overflow: auto;
}

.avatar {
    outline: 2px solid var(--color-gray);
    width: 300px;
}

.file-input {
    background-color: var(--color-file-input-background);
    border-radius: 4px;
    color: var(--color-white);
    transition: 0.5s;
    width: 300px;
    padding: 10px 20px;
}

.file-input:hover {
    background-color: var(--color-container-background);
    border: 1px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
}

.img-form-container {
    background-color: var(--color-container-background);
    border: 0px;
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: none;
}

.animated {
    animation: 0.6s appearence;
    transition-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid var(--color-gray);
    padding: 6px;
}

.label {
    color: var(--color-dark-gray);
    font-size: 18px;
}

.block {
    font-family: "Roboto";
    font-size: 33px;
    color: var(--color-dark-gray);
    overflow-wrap: break-word;
    animation-name: appearence;
    text-align: left;
}

.lesson-homework {
    font-size: 16px;
    color: #c7c7c7;
    margin-top: 10px;
}

/* IDs */
#error {
    color: rgb(241, 76, 76);
    font-size: 14px;
    font-family: "Roboto";
    height: 15px;
    margin: 15px;
    margin-bottom: 50px;
}

#avatar-container {
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

#avatar-div {
    text-align: center;
}

#data-div {
    text-align: left;
    margin-left: 100px;
    display: inline-grid;
}

#no-marks {
    font-size: 50px;
    color: var(--color-gray);
    font-family: "Roboto";
    margin-top: 5%;
}

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #ffffff;
    z-index: 99;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--color-bluerple);
    width: 120px;
    height: 120px;
    margin: 25% auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#left {
    width: 70%;
}

#right {
    justify-content: flex-end;
    width: 26.5%;
}

#block-title {
    animation-delay: 0.9s;
}

#block1 {
    animation-delay: 1s;
}

#block2 {
    animation-delay: 1.2s;
}

#block3 {
    animation-delay: 1.4s;
}

#bottom-block {
    animation-delay: 2s;
    font-size: 33px;
    color: var(--color-dark-gray);
    margin-top: 7%;
}

#to-prev-day, #to-next-day {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 22px;
    margin: auto 2%;
    cursor: pointer;
}

